body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#app{
  background: whitesmoke;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.inner{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.counter{
  margin: 5px;
  height: 20px;
  width: 50px;
  background: white;
}